<div class="container my-4">
  <!-- Header Section with Back Button -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Class Details: <%= @afns_class.name %></h2>
    <%= link_to 'Back to Classes', afns_classes_path, class: "btn btn-outline-secondary" %>
  </div>

  <!-- Class Information -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Instructor: <%= @afns_class.instructor %></h5>
      <p>Status: <%= @afns_class.is_active ? "Active" : "Inactive" %></p>
    </div>
  </div>

  <!-- Schedule Information -->
  <h3>Class Schedules</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <thead class="table-light">
        <tr>
          <th>Day of the Week</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.day_of_week.capitalize rescue 'N/A'  %></td>
            <td><%= schedule.start_time.present? ? schedule.start_time.strftime("%I:%M %p") : "N/A" %></td>
            </td>
            <td><%= schedule.end_time.present? ? schedule.end_time.strftime("%I:%M %p") : "N/A" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
