<!DOCTYPE html>
<html>
  <head>
    <title>Alameda Fitness & Spa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

<% unless (params[:controller] == 'static' && params[:action] == 'index') || 
          (params[:controller] == 'guest_agreements' && params[:action] == 'new') || 
          (params[:controller] == 'waivers' && params[:action] == 'new') || 
          (params[:controller] == 'trainer_forms' && params[:action] == 'new') %>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid justify-content-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Main Screen', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Class Calendar', afns_class_schedules_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Classes', afns_classes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Guest Waivers', guest_agreements_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Class Waivers', waivers_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Members', members_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lockers', lockers_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Personal Trainer Request Form', trainer_forms_path, class: 'nav-link' %>
        </li>
        <!-- Additional links can be added here if needed -->
      </ul>
    </div>
  </div>
</nav>


<% end -%>
  <% unless params[:controller]=='afns_classes' and params[:action]=='index' or params[:controller]=='afns_class_schedules' and params[:action]=='index' %>
    <div class='container'>
  <% end -%>
      <%= yield %>
  <% unless params[:controller]=='afns_classes' and params[:action]=='index' or params[:controller]=='afns_class_schedules' and params[:action]=='index' %>
    </div>
  <% end -%>
  </body>
</html>
