<%= form_with model: @member, local: true do |f| %>
  <% if @member.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors with your submission:</h4>
      <ul>
        <% @member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :membership_number, "Membership #" %>
    <%= f.text_field :membership_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :date_join, "Date Joined" %>
    <%= f.date_select :date_join%>
  </div>

  <div class="mb-3">
    <%= f.submit "Create Member", class: "btn btn-primary" %>
  </div>
<% end %>
